<footer class="page-footer blue-grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="white-text">Shared Land</h5>
                <p class="grey-text text-lighten-4">
                    We would like to acknowledge that we are on the traditional, ancestral, and unceded shared territory of the Cheam, Sts'ailes, Sq'éwlets, and Seabird Island people. We thank you for welcoming us to the territory and allowing us to carry out the work we are doing today.
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col l4 s12">
                <h6 class="white-text">Peter Kenward</h6>
                <p class="grey-text text-lighten-4">
                    BC Mortgage Broker #502956<br>
                    <a href="mailto:peter@kenward.ca" class="teal-text text-lighten-3">peter@kenward.ca</a><br>
                    Tel / SMS: (250) 918-8169
                </p>
            </div>
            <div class="col l4 s12">
                <h6 class="white-text">Kenward Mortgage Broker Inc.</h6>
                <p class="grey-text text-lighten-4">
                    BC Licence #MBX604635<br>
                    <a href="mailto:peter@kenward.ca" class="teal-text text-lighten-3">peter@kenward.ca</a><br>
                    Tel / SMS: (250) 918-8169
                </p>
            </div>
            <div class="col l4 s12">
                <h6 class="white-text">Camille Kenward</h6>
                <p class="grey-text text-lighten-4">
                    General Manager<br>
                    <a href="mailto:camille@kenward.ca" class="teal-text text-lighten-3">camille@kenward.ca</a><br>
                    Tel / SMS: (250) 731-4008
                </p>
            </div>
        </div>
    </div>
    
    <div class="footer-copyright">
        <div class="container">
            © 2024 Kenward Mortgage Broker Inc.
        </div>
    </div>
</footer>
