<%
const { quoteText, source } = block;
%>
<div class="row">
    <div class="col s12">
        <blockquote class="flow-text">
            <p>"<%= quoteText %>"</p>
            <footer>— <%= source %></footer>
        </blockquote>
    </div>
</div>