<div class="container section">
    <div class="video-container">
        <iframe width="853" height="480" src="<%- block.videoUrl %>" frameborder="0" allowfullscreen title="<%- block.caption || 'Embedded Video' %>"></iframe>
    </div>
